# 모든 경로의 node_modules
**/node_modules/

# 모든 경로의 OS / 빌드 산출물
**/.DS_Store
**/dist/
**/dist-ssr/
**/.nitro/
**/.tanstack/
**/.wrangler/

# 모든 경로의 환경/로컬 파일
**/*.local
####**/.env  ## 주석 처리: 특정 환경 파일을 버전 관리에 포함시키기 위함
**/count.txt

**/database-files