@reference "@/styles.css";
@tailwind components;

@layer components {
  .paging-wrapper {
    @apply flex items-center gap-1;
  }
  .paging-button {
    @apply px-2 py-1 border rounded disabled:opacity-50;
  }
  .paging-button:hover:not(:disabled) {
    @apply bg-gray-200 cursor-pointer;
  }
  .paging-button.active {
    @apply bg-blue-600 text-white;
  }
  .paging-button.active:hover {
    @apply bg-blue-600 cursor-default;
  }
  .paging-button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  /*
   * 사용자 정의 스타일 구간
  */
  .tailwind-blue-button {
    @apply flex items-center gap-2 px-5 py-2.5 bg-blue-600 hover:bg-blue-700 text-white text-sm font-semibold rounded-xl shadow-md shadow-blue-200 transition-all active:scale-95;
  }
}
