# docker compose stop
# docker compose down
# docker compose up -d
# docker compose restart
version: "3.8"
services:
  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: appdb
    volumes:
      - "./database-files:/data/db"
    networks:
      - nest-network
volumes:
  mongo_data:

networks:
  nest-network:
    driver: bridge
